@charset "UTF-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body, html { height: 100%; }
ul { list-style-type: none; }
a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, p { color: #5a4d72; }

h1 { font-size: 2em;  	}
h2 { font-size: 1.5em; 	}
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; 	}
h6 { font-size: .75em; 	}
p  { font-size: .75em; 	}


/*=========================================================

Snowflake Texta

=========================================================*/
@font-face {
  font-family: 'SalesforceSans-Bold';
  src: url('../fonts/Texta-Black.otf.eot');
  src: url('../fonts/Texta-Black.otf.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Texta-Black.otf.woff') format('woff'),
       url('../fonts/Texta-Black.otf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#displayArea, #enterNumberContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttonContainer {
  margin: 10px 0
}
#saveButton, #resetButton {
  padding: 5px 30px;
}

#numberInput {
  padding: 5px;
  width: 210px;
}

#currentNumber {
  margin: 20px 0;
}


#displayArea {
  color: #27B7EB;
  font-size: 45px;
  font-family: "Texta-Black", sans-serif;
}