@charset "UTF-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body, html { height: 100%; }
ul { list-style-type: none; }
a { text-decoration: none; }

/*=========================================================

Snowflake Texta

=========================================================*/
@font-face {
  font-family: 'Texta-Black';
  src: url('../fonts/Texta-Black.eot');
  src: url('../fonts/Texta-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Texta-Black.woff') format('woff'),
       url('../fonts/Texta-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#inputValueContainer {
  background-color: #27B7EB;
  height: 100%;
  width: 100%;
  overflow:auto
}

#displayArea, #enterNumberContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#displayURL {
  margin: 40px auto;
  display: table;
  padding: 10px 20px;
  color: black;
  border: 2px black solid;
  border-radius: 5px;
}

#buttonContainer {
  margin: 10px 0
}
#saveButton, #resetButton {
  padding: 5px 30px;
}

#numberInput {
  padding: 5px;
  width: 210px;
}

#currentNumber {
  margin: 20px 0;
}

#displayArea {
  color: #27B7EB;
  font-size: 45px;
  font-size: 5vw;
  overflow: hidden;
  white-space: nowrap;  
  font-family: "Texta-Black", sans-serif;
}